.faq {
    padding: 5.6vw;

    h2 {
        text-align: center;
        margin-bottom: 24px;
    }

    &__questions {
        &__item {
            background-color: #13151d;
            margin-bottom: 16px;
            list-style: none;

                
            span {
                text-decoration: underline;
                font-weight: 600;
                cursor: pointer;
            }

            &__quest {
                color: #fff;
                font-size: 20px;
                padding: 24px;
                display: block;
                cursor: pointer;
                position: relative;

                &::after {
                    content: '+';
                    position: absolute;
                    top: 0;
                    right: 24px;
                    height: 100%;
                    display: flex;
                    align-items: center;
                    font-size: 40px;
                }
            }

            &__answer {
                height: 0;
                overflow: hidden;
                padding: 0 24px;
                transition: height, 0.5s ease;

                &__list {
                    padding: 16px 40px;
                    list-style: disc;

                    &__item {
                        padding: 6px;
                    }
                }
            }

            &--is-open {
                .faq__questions__item__quest::after {
                    content: '-';
                }

                .faq__questions__item__answer {
                    height: auto;
                    padding-bottom: 24px;
                    transition: height, 0.5s ease;
                }
            }
        }
    }
}

