@use 'variaveis';

.header {
    position: sticky;
    top: 0;
    left: 0;
    background-color: variaveis.$corDeFundo;
    transition: background-color 0.5s ease;
    z-index: 1;
    background-color: transparent;

    &__container {
        padding: 8px 36px;
        display: flex;
        justify-content: space-between;

        @media (max-width: 768px) {
            padding: 0 12px 0 20px;
        } 
    }

    &__link {
        display: flex;
        list-style: none;
        
        &__item {
            margin: 5px;
            transition: opacity 0.5s ease;
        }
    }

    .button {
        height: 50px;

    @media (max-width: 768px) {
        font-size: 13px;
        padding: 8px 11px;
        height: 40px;
        letter-spacing: 0;
        } 

    }

}